@import 'cols';
@import 'spacing';
@import 'mixins';

:host {
  @include box();

  min-height: 6rem;

  .membership__item {
    align-items: center;
    display: flex;
    padding-left: $sp__big;
    padding-right: $sp__big;

    .membership__level,
    .membership__name {
      text-align: center;
    }

    .membership__level {
      $dim: 2rem;

      background-color: $col__grey;
      border-radius: 50%;
      color: #fff;
      flex: 0 0 $dim;
      height: $dim;
      line-height: $dim;
      width: $dim;
    }

    .membership__name {
      color: $col__grey--dark;
      flex: 1;
    }

    &.membership__item--active {
      .membership__level {
        background-color: $col__primary;
        color: #fff;
      }

      .membership__name {
        color: #000;
        font-weight: 700;
      }
    }
  }
}
