<h3>Memberships</h3>

<p>
  Below you'll find an overview about the available memberships.
</p>
<p>
  For more information on this topic please get in touch with your personal consultant.
</p>

<app-loader *ngIf="!memberships" class="loader--absolute"></app-loader>

<ul class="list">
  <li
    *ngFor="let membership of memberships"
    class="membership__item list__item"
    [ngClass]="{
      'membership__item--active': (customerService.currentCustomer$ | async)?.membership === membership.name
    }"
  >
    <span class="membership__level">{{ membership.level }}</span>
    <span class="membership__name">{{ membership.name.toUpperCase() }}</span>
  </li>
</ul>
