<h3>Personal details</h3>

<app-loader class="loader--absolute" *ngIf="!customer"></app-loader>

<div class="profile-details__section">
  <small>Name</small>
  <div class="profile-details__value">{{ customer?.name || '&nbsp;- ' }}</div>
</div>
<div class="profile-details__section">
  <small>Age</small>
  <div class="profile-details__value">
    {{ customer ? customer.age : '&nbsp;- ' }}
  </div>
</div>
<div class="profile-details__section">
  <small>Membership</small>
  <div class="profile-details__value">{{ customer?.membership || '&nbsp;- ' }}</div>
</div>
<div class="profile-details__section">
  <small>Active contracts</small>
  <div class="profile-details__value">
    {{ customer?.selectedInsurances ? customer.selectedInsurances.length : '&nbsp;- ' }}
  </div>
</div>
