@import 'cols';
@import 'spacing';
@import 'fonts';
@import 'mixins';

:host {
  @include box();
  margin-bottom: $sp__big;

  .profile-details__section {
    border-bottom: 1px solid $col__grey--light;
    padding: 0 $sp__base $sp__base;

    &:last-child {
      border-bottom: 0;
    }

    .profile-details__value {
      line-height: $font__base;
      font-weight: 700;
    }
  }
}
