<form #registrationForm="ngForm" class="registration__form" (submit)="register()">
  <div class="input-group">
    <input
      autocomplete="username"
      class="input"
      [class.filled]="username"
      id="username"
      name="username"
      required
      type="text"
      [(ngModel)]="username"
    />
    <label class="label" for="username">Username</label>
  </div>
  <div class="input-group">
    <input
      autocomplete="current-password"
      class="input"
      [class.filled]="password"
      name="password"
      required
      type="password"
      [(ngModel)]="password"
    />
    <label class="label" for="password">Password</label>
  </div>
  <div class="input-group">
    <input
      autocomplete="current-password"
      class="input"
      [class.filled]="passwordConfirmation"
      name="passwordConfirmation"
      required
      type="password"
      [(ngModel)]="passwordConfirmation"
    />
    <label class="label" for="passwordConfirmation">Repeat password</label>
  </div>
  <div class="input-group">
    <input class="input" name="birthday" type="date" [(ngModel)]="birthday" autocomplete="bday" required />
    <label class="label" for="passwordConfirmation">Birthday</label>
  </div>

  <button
    class="btn btn--primary"
    type="submit"
    [disabled]="registrationForm.form.invalid || loading || password !== passwordConfirmation"
  >
    <app-loader class="loader--absolute" *ngIf="loading"></app-loader>
    Register
  </button>
  <button class="btn btn--link" routerLink="/login" routerLinkActive="active" [disabled]="loading">
    Already have an account? Sign in
  </button>

  {{ error }}
</form>
