@import 'mixins';
@import 'spacing';

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 $sp__big;
  width: 100%;

  .registration__form {
    @include container(360px);
    padding: 0 $sp__base;
  }
}
