<div class="login__info">
  <h1>Gothaer Portal</h1>
  <p>All your insurance information in one place</p>
  <hr class="hr" />
</div>

<form #loginForm="ngForm" class="login__form container" (submit)="signIn()">
  <div class="input-group">
    <input
      autocomplete="username"
      class="input"
      [class.filled]="username"
      id="username"
      name="username"
      required
      type="text"
      [(ngModel)]="username"
    />
    <label class="label" for="username">Username</label>
  </div>
  <div class="input-group">
    <input
      autocomplete="current-password"
      class="input"
      [class.filled]="password"
      name="password"
      required
      type="password"
      [(ngModel)]="password"
    />
    <label class="label" for="password">Password</label>
  </div>

  <div class="btn-group">
    <button class="btn btn--primary" type="submit" [disabled]="loginForm.form.invalid || loading">
      Sign in
      <app-loader class="loader--absolute" *ngIf="loading"></app-loader>
    </button>
    <button class="btn btn--link" routerLink="/register" routerLinkActive="active" [disabled]="loading">
      Register now
    </button>
  </div>
</form>
