@import 'cols';
@import 'mixins';
@import 'spacing';
@import 'fonts';

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 $sp__big;
  width: 100%;

  .login__info {
    text-align: center;

    h1,
    p {
      color: #fff;
      margin: 0;
    }

    p {
      font-size: $font__bigger;
    }

    hr {
      margin: $sp__big 0 1.25rem;
    }
  }

  .login__form {
    @include container(360px);
    padding: 0 $sp__base;
    position: relative;
  }
}
