.btn-group {
  margin-top: 0rem;
  width: 100%;
}

.btn {
  background-color: #fff;
  box-shadow: $box-shadow;
  border: none;
  cursor: pointer;
  display: block;
  font-size: $sp__big;
  height: 2.25rem;
  margin-bottom: 0.75rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:disabled {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.75;
  }

  &:focus {
    outline: 2px solid $col__grey;
    outline-offset: -2px;
  }

  &.btn--transparent {
    background-color: transparent;
  }

  &.btn--primary {
    background-color: $col__primary;
    color: #fff;
  }

  &.btn--link {
    background: transparent;
    box-shadow: none;
    color: #fff;
    height: 1.5rem;
  }
}
