$col__primary: #1a506a;
$col__primary--light: #94c8db;
$col__danger: #cc0000;

$col__grey: #aaa;
$col__grey--light: #ccc;
$col__grey--lighter: #eee;
$col__grey--dark: #888;

$bg__transparent: transparentize(#fff, 0.15);
$bg__transparent--light: transparentize(#fff, 0.65);

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
