@import url('https://fonts.googleapis.com/css?family=Cabin:400,700|Raleway:400,700&display=swap');

$font__base: 1rem;
$font__small: 0.75rem;
$font__big: 1.1rem;
$font__bigger: 1.25rem;

* {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
}

button,
input,
label,
h1,
h2,
h3,
h4,
th,
td {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  text-shadow: 2px 2px 0 $col__grey--dark;
}

h2 {
  font-size: 2.25rem;
  line-height: 3.25rem;
}

h3 {
  border-left: 2px solid $col__primary;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin: $sp__base 0;
  padding-left: $sp__base;
}

h4 {
  font-size: $font__bigger;
  margin: 0;
}

small {
  font-size: $font__small;
  line-height: $font__base;
}
