.input {
  background-color: $col__grey--lighter;
  border: 2px solid #fff;
  border-radius: 0;
  box-shadow: $box-shadow;
  outline: 0;
  display: block;
  height: 2.25rem;
  margin-bottom: 0.75rem;
  padding-left: $sp__base;
  width: 100%;

  &,
  &::placeholder {
    font-size: $font__base;
  }

  &::placeholder {
    color: $col__grey;
  }
}

.input-group {
  position: relative;

  .input {
    padding-top: 0.4rem;

    &::placeholder {
      opacity: 0;
    }
  }

  .label {
    position: absolute;
    font-size: $font__base;
    left: $sp__base;
    top: 0.4rem;
    color: $col__grey;
    transform-origin: 0 -75%;
    transition: transform ease-in-out 150ms, color ease-in-out 150ms;
    user-select: none;
  }

  .input:focus,
  .input.filled,
  .input[type='date'] {
    & ~ .label {
      color: $col__primary;
      transform: scale(0.66);
    }
  }
}
