.list {
  padding-left: 0;

  .list__item {
    border: 1px solid $col__grey--dark;
    list-style-type: none;
    margin-bottom: $sp__base;
    padding: $sp__base $sp__big;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
