@mixin container($maxWidth: 640px) {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $maxWidth;
  width: 100%;
}

@mixin box($bgColor: $bg__transparent) {
  background-color: $bgColor;
  display: block;
  padding: $sp__base;
  position: relative;
  width: 100%;
}

@mixin break-mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin break-tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
