@import 'cols';
@import 'mixins';
@import 'spacing';

:host {
  @include box();
  border-bottom: 1px solid $col__grey--light;
  display: flex;
  padding: 0;

  .profile-navigation__section {
    @include break-mobile() {
      border-right: 0;
      border-bottom: 1px solid $col__grey;
    }

    box-shadow: none;
    flex: 1;
    margin: 0;
    border-right: 1px solid $col__grey;

    &:last-child {
      border: none;
    }
  }
}
