@import 'cols';
@import 'spacing';
@import 'mixins';

:host {
  @include break-mobile() {
    padding-bottom: $sp__big * 2;
  }

  position: fixed;
  bottom: 0;
  left: $sp__big * 2;
  right: $sp__big * 2;
  z-index: 1000;
  text-align: center;
  padding-bottom: $sp__big * 4;

  .message__current {
    @include box();

    border: 1px solid $col__grey--dark;
    border-radius: 0.25rem;
    box-shadow: $box-shadow;
    color: $col__grey--dark;
    display: inline-block;
    max-width: 480px;
    max-height: 11.5rem;

    &.message__current--info {
      border-color: $col__primary;
      color: $col__primary;
    }

    &.message__current--danger {
      border-color: $col__danger;
      color: $col__danger;
    }
  }
}
