<small *ngIf="price; else elseBlock">
  {{ price.price }} {{ price.currency }} ({{ price.minAge + '-' + price.maxAge }})
</small>
<ng-template #elseBlock>
  <i><small>No price available</small></i>
</ng-template>
