@import 'cols';
@import 'spacing';
@import 'fonts';
@import 'mixins';

:host {
  @include box();
  flex: 1;
  width: 100%;

  .insurances__wrapper {
    min-height: 6rem;
    margin-bottom: $sp__big;
  }
}
