<app-loader class="loader--absolute" *ngIf="!insurances || !customer"></app-loader>

<div class="insurances__wrapper">
  <h3>Your insurances</h3>
  <app-profile-insurance-list
    [customer]="customer"
    [insurances]="selectedInsurances"
    emptyStateText="No insurance contracts available"
  >
  </app-profile-insurance-list>
</div>

<div class="insurances__wrapper">
  <h3>Available insurances</h3>
  <app-profile-insurance-list
    [customer]="customer"
    [insurances]="availableInsurances"
    emptyStateText="No insurances available"
  >
  </app-profile-insurance-list>
</div>
