<div class="profile">
  <header class="profile__header">
    <h1 class="profile__headline">Gothaer <span class="profile__headline-addition">| Profile</span></h1>

    <button class="profile__signout btn" (click)="signOut()">
      Sign out
    </button>
  </header>

  <app-profile-details [customer]="customerService.currentCustomer$ | async"></app-profile-details>

  <app-profile-navigation></app-profile-navigation>

  <div class="profile__sections">
    <router-outlet></router-outlet>
  </div>
</div>
