@import 'cols';
@import 'mixins';
@import 'spacing';
@import 'fonts';

:host {
  @include container(640px);
  @include break-mobile {
    background-color: transparent;
  }

  background-color: $bg__transparent--light;
  height: 100%;

  .profile {
    @include break-mobile {
      background-color: transparent;
      box-shadow: none;
    }

    box-shadow: $box-shadow;
    width: 100%;
  }

  .profile__header {
    align-items: center;
    background-color: $bg__transparent;
    display: flex;
    height: 3rem;
    padding: 0 $sp__base;
    margin-bottom: $sp__big;

    .profile__headline {
      color: $col__primary;
      flex: 1;
      font-size: $font__bigger;
      text-shadow: none;

      .profile__headline-addition {
        color: $col__grey;
        font-weight: 400;
      }
    }

    .profile__signout {
      background-color: transparent;
      box-shadow: none;
      color: $col__grey;
      flex: 0 0 auto;
      font-size: $font__base;
      height: 100%;
      margin: 0;
      padding: 0;
      width: initial;
    }
  }
}
