<ul class="list" *ngIf="insurances && customer">
  <li class="list__item" *ngFor="let insurance of insurances; trackBy: trackName">
    <b>{{ insurance.readableName }}</b>

    <app-insurance-price [price]="insurance.getPriceForAge(customer.age)"></app-insurance-price>
  </li>

  <li class="list__item" *ngIf="insurances?.length === 0">{{ emptyStateText }}</li>
</ul>
