@import 'cols';

:host {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 100%;

  &.loader--absolute {
    background-color: $bg__transparent--light;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .loader__spinner {
    animation: loaderSpin linear 1.5s infinite;
    background-color: $col__primary--light;
    height: 1.5rem;
    width: 1.5rem;
  }
}

@keyframes loaderSpin {
  0% {
    transform: scale(1) rotateZ(0);
    opacity: 1;
  }
  25% {
    transform: scale(1.5) rotateZ(45deg);
    opacity: 0.5;
  }
  50% {
    transform: scale(1) rotateZ(90deg);
    opacity: 0.5;
  }
  75% {
    transform: scale(0.5) rotateZ(135deg);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) rotateZ(180deg);
    opacity: 1;
  }
}
