@import 'cols';
@import 'mixins';
@import 'spacing';
@import 'fonts';

@import 'buttons';
@import 'forms';
@import 'layout';
@import 'lists';
@import 'tables';

html,
body,
app-root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  * {
    box-sizing: border-box;
  }
}
